.no-display {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: rgb(45, 47, 119);
  height: 150px;
}
.header .logo-img-wrapper {
  max-width: 200px;
  padding: 30px 70px;
}

.landing-page-background {
  display: flex;
  position: relative;
}
.landing-page-background .landing-page-img-wrapper {
  flex: 1;
  min-height: 800px;
}
.landing-page-background .landing-page-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing-page-headings {
  position: absolute;
  top: 20%;
  width: 100%;
}
.landing-page-headings h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 3.75em;
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
.landing-page-headings h2 {
  font-family: "Fugaz One", cursive;
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.landing-search-wrapper {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 70%;
  background-color: rgb(45, 47, 119);
  padding: 60px;
  border-radius: 15px;
}
.landing-search-wrapper .input-center-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.landing-search-wrapper .input-center-wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.landing-search-wrapper .input-center-wrapper .input-wrapper input[type=text] {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-weight: 400;
}
.landing-search-wrapper .input-center-wrapper .input-wrapper input[type=number] {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-weight: 500;
}
.landing-search-wrapper .input-center-wrapper .input-wrapper label {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: white;
  padding-bottom: 5px;
  font-weight: 1000;
}
.landing-search-wrapper .input-center-wrapper #search-button-wrapper {
  padding-top: 22px;
}
.landing-search-wrapper .input-center-wrapper #search-button-wrapper a {
  text-decoration: none;
}
.landing-search-wrapper .input-center-wrapper #search-button-wrapper #search-btn {
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  padding: 5px 40px;
  color: white;
  background-color: rgb(186, 191, 42);
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.search-results-wrapper .hero-img-wrapper {
  height: 400px;
}
.search-results-wrapper .hero-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-results-wrapper #input-search-over-img {
  background: rgba(45, 47, 119, 0);
  top: 40%;
  left: 10%;
}

.title-h1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  color: rgb(45, 47, 119);
  font-size: 2em;
  margin: 50px 120px;
}

.accomodation-card-wrapper {
  border-radius: 15px;
  border: 2px solid rgb(45, 47, 119);
  box-shadow: 2px 2px black;
  display: flex;
  margin: 50px 120px;
  padding: 5px 5px;
  max-height: 320px;
}
.accomodation-card-wrapper .img-card-wrapper {
  max-height: 300px;
  height: 300px;
  width: 300px;
  padding: 10px;
}
.accomodation-card-wrapper .img-card-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.accomodation-card-wrapper .accomodation-information-wrapper {
  flex: 1;
  margin-left: 20px;
}
.accomodation-card-wrapper .accomodation-information-wrapper .title-accommodation {
  margin: 0;
}
.accomodation-card-wrapper .accomodation-information-wrapper .title-accommodation h2 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 1.5em;
  margin: 16px 0 0 0;
}
.accomodation-card-wrapper .accomodation-information-wrapper .title-accommodation h3 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  text-transform: uppercase;
  color: rgb(183, 62, 171);
  margin: 5px 0;
}
.accomodation-card-wrapper .accomodation-information-wrapper .title-accommodation .guest-description {
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  color: rgb(183, 62, 171);
  padding-bottom: 5px;
}
.accomodation-card-wrapper .accomodation-information-wrapper .title-accommodation .guest-description h4 {
  margin: 0;
  padding-left: 10px;
}
.accomodation-card-wrapper .accomodation-information-wrapper .title-accommodation .night-description {
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  color: rgb(183, 62, 171);
  padding-bottom: 20px;
}
.accomodation-card-wrapper .accomodation-information-wrapper .title-accommodation .night-description h4 {
  margin: 0;
  padding-left: 10px;
}
.accomodation-card-wrapper .accomodation-information-wrapper .accommodation-description-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  max-height: 130px;
  overflow: hidden;
}
.accomodation-card-wrapper .price-information-wrapper {
  margin: 40px 16px;
  padding-left: 30px;
  text-align: right;
}
.accomodation-card-wrapper .price-information-wrapper .per-night-price-wrapper {
  padding-bottom: 30px;
}
.accomodation-card-wrapper .price-information-wrapper .total-price-wrapper {
  margin-bottom: 110px;
}
.accomodation-card-wrapper .price-information-wrapper .price, .accomodation-card-wrapper .price-information-wrapper .total-price {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 1.3em;
  margin: 0;
}
.accomodation-card-wrapper .price-information-wrapper .price-text {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  text-transform: uppercase;
  font-size: 0.7692307692em;
  color: rgb(183, 62, 171);
  margin: 0;
}
.accomodation-card-wrapper .price-information-wrapper .select-btn {
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  padding: 10px 40px;
  color: white;
  background-color: rgb(183, 62, 171);
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
}
.accomodation-card-wrapper .price-information-wrapper .select-btn:hover {
  opacity: 0.8;
}

#no-availability-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#no-availability-alert p {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 2em;
  text-align: center;
}

.current-accommodation-wrapper {
  position: relative;
  margin: 50px 100px;
}
.current-accommodation-wrapper .search-current-accommodation-wrapper {
  margin: 30px auto;
}
.current-accommodation-wrapper .current-accomodation-name {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 2em;
  margin: 10px auto;
}
.current-accommodation-wrapper .icons-info-wrapper {
  display: flex;
}
.current-accommodation-wrapper .icons-info-wrapper .location-wrapper, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-guest-info, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-night-info, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-total-price-info {
  display: flex;
  padding-right: 30px;
}
.current-accommodation-wrapper .icons-info-wrapper .location-wrapper .current-accommodation-location, .current-accommodation-wrapper .icons-info-wrapper .location-wrapper .current-accommodation-guest-number, .current-accommodation-wrapper .icons-info-wrapper .location-wrapper .current-accommodation-nights, .current-accommodation-wrapper .icons-info-wrapper .location-wrapper .current-accommodation-total-price, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-guest-info .current-accommodation-location, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-guest-info .current-accommodation-guest-number, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-guest-info .current-accommodation-nights, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-guest-info .current-accommodation-total-price, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-night-info .current-accommodation-location, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-night-info .current-accommodation-guest-number, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-night-info .current-accommodation-nights, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-night-info .current-accommodation-total-price, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-total-price-info .current-accommodation-location, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-total-price-info .current-accommodation-guest-number, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-total-price-info .current-accommodation-nights, .current-accommodation-wrapper .icons-info-wrapper .current-accommodation-total-price-info .current-accommodation-total-price {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  color: rgb(97, 97, 113);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9090909091em;
  margin: 10px;
}
.current-accommodation-wrapper .image-gallery-wrapper {
  display: flex;
  flex-direction: column;
}
.current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper {
  display: flex;
  max-height: 500px;
}
.current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .main-image-wrapper {
  height: 500px;
  min-width: 600px;
  padding-right: 12px;
}
.current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .main-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .two-images-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}
.current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .two-images-wrapper .top-image-wrapper, .current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .two-images-wrapper .bottom-image-wrapper {
  min-height: 240px;
  max-height: 300px;
}
.current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .two-images-wrapper .top-image-wrapper img, .current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .two-images-wrapper .bottom-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.current-accommodation-wrapper .image-gallery-wrapper .top-layout-wrapper .two-images-wrapper .top-image-wrapper {
  padding-bottom: 10px;
}
.current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 200px;
}
.current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-1, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-2, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-3, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-4, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-5 {
  padding: 10px 10px 10px 0;
}
.current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-1 img, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-2 img, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-3 img, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-4 img, .current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.current-accommodation-wrapper .image-gallery-wrapper .bottom-layout-wrapper .img-5 {
  padding: 10px 0 10px 0 !important;
}
.current-accommodation-wrapper .current-accommodation-description {
  font-family: "Inter", sans-serif;
  font-size: 1em;
}
.current-accommodation-wrapper .current-accommodation-amenities-wrapper .amenities-title {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 2em;
}
.current-accommodation-wrapper .current-accommodation-amenities-wrapper .top-wrapper, .current-accommodation-wrapper .current-accommodation-amenities-wrapper .bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.current-accommodation-wrapper .current-accommodation-amenities-wrapper .top-wrapper .amenities-wrapper, .current-accommodation-wrapper .current-accommodation-amenities-wrapper .bottom-wrapper .amenities-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding-bottom: 20px;
}
.current-accommodation-wrapper .current-accommodation-amenities-wrapper .top-wrapper .amenities-wrapper .available, .current-accommodation-wrapper .current-accommodation-amenities-wrapper .bottom-wrapper .amenities-wrapper .available {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: rgb(97, 97, 113);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8333333333em;
  padding-left: 20px;
}
.current-accommodation-wrapper .current-accommodation-amenities-wrapper .top-wrapper .amenities-wrapper .no-available, .current-accommodation-wrapper .current-accommodation-amenities-wrapper .bottom-wrapper .amenities-wrapper .no-available {
  text-decoration: line-through;
  color: red;
}
.current-accommodation-wrapper .green-separator {
  border: none;
  height: 3px;
  color: rgb(186, 191, 42);
  background-color: rgb(186, 191, 42);
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper {
  display: flex;
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .meal-image-wrapper {
  min-width: 300px;
  max-height: 300px;
  height: 200px;
  padding: 20px;
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .meal-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .meal-description-wrapper .meal-name {
  margin: 15px 0 0 0;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 1.3em;
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .meal-description-wrapper .meal-price, .current-accommodation-wrapper .meals-available-section .meal-wrapper .meal-description-wrapper .meal-type {
  text-transform: uppercase;
  margin: 10px 0 20px 0;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  color: rgb(97, 97, 113);
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .meal-description-wrapper .meal-description {
  font-family: "Inter", sans-serif;
  font-size: 1em;
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .add-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .add-wrapper .add-btn {
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  padding: 5px 40px;
  color: white;
  background-color: rgb(186, 191, 42);
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(183, 62, 171);
}
.current-accommodation-wrapper .meals-available-section .meal-wrapper .add-wrapper .add-btn:hover {
  opacity: 0.8;
}
.current-accommodation-wrapper .meals-available-section .show-more-btn-wrapper {
  display: flex;
  justify-content: center;
}
.current-accommodation-wrapper .meals-available-section .show-more-btn-wrapper .show-more-btn {
  margin: 10px;
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  padding: 5px 40px;
  color: white;
  background-color: rgb(186, 191, 42);
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px;
}
.current-accommodation-wrapper .meals-available-section .show-more-btn-wrapper .show-more-btn:hover {
  opacity: 0.7;
}
.current-accommodation-wrapper .modal {
  position: fixed;
  background-color: rgb(186, 191, 42);
  padding: 40px;
  border-radius: 20px;
  width: 70%;
  top: 30%;
  left: 15%;
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
.current-accommodation-wrapper .modal .close-btn {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(45, 47, 119);
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.current-accommodation-wrapper .modal .close-btn:hover {
  color: white;
}

@media (max-width: 1250px) {
  .accomodation-card-wrapper {
    max-height: 800px;
    max-width: 1000px;
  }
  .accomodation-card-wrapper .accomodation-information-wrapper .accommodation-description-paragraph {
    display: none;
  }
}
@media (max-width: 979px) {
  .accomodation-card-wrapper {
    flex-direction: column;
    max-height: 800px;
  }
  .accomodation-card-wrapper .img-card-wrapper {
    width: 90%;
    margin: 10px auto;
  }
}/*# sourceMappingURL=style.css.map */